body{
    
}

/*===================================
               start-menu
=============================================*/
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #245863; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: red;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 7px;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #245863;
  color: white;
  padding: 10px 15px;
  border: none;
  position:fixed;
  z-index: 9999;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px 0px 20px 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.site-name {
    padding-left: 50px;
    color: burlywood;
}
/*===================================
               baner
=============================================*/
.baner-topr {
    background: url(../image/baner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 438px;
/*    overflow-y: hidden;*/
}
@font-face {
    font-family:first-font;
    src:url(../fonts/FjallaOne-Regular.ttf);
}

.heading-text {
    font-family: first-font;
/*    padding-top: 10px;*/
}

.heading-text-line {
    font-family: first-font;
}

.read-btn {
    font-family: first-font;
    background-color:#767a690d !important;
    border: 1px solid white;
    color:white;
}
/*=======================================
social media
===================================================*/

 .social ul {
   position: relative;
   display: flex;
   transform: rotate(0deg) skew(17deg);
   transform-style: preserve-3d;
/*     margin-left: 430px;*/
}
.social ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0px 20px;
}
.social ul li:before{
  content: '';
  position: absolute;
  bottom: 2px;
  left: -5px;
  width: 80%;
  height: 10px;
  background: #c580805c;
  trnasform-origin: top;
  transform: skewX(-41deg);
}
.social ul li:after{
  content: '';
  position: absolute;
  top:5px;
  left: -9px;
  width: 9px;
  height: 80%;
  background: #c580805c;
  trnasform-origin: right;
  transform: skewY(-49deg);
}
.social ul li span {
  position: absolute;
  top: 0;
  lef: 0;
  width: 80%;
  height: 80%;
  display: flex !important;
  background: #c580801c;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  transition: 1.5s ease-out;
}
.social ul li:hover span {
  z-index: 1000;
  transition: .3s;
  color: #fff;
  box-shadw: -1px 1px 1px rgba(0, 0, 0, .5);
}
.social ul li:hover span:nth-child(5){
  transform: translate(40px, -40px);
  opacity: 1;
}
.social ul li:hover span:nth-child(4){
  transform: translate(30px, -30px);
  opacity: .8;
}
.social ul li:hover span:nth-child(3){
  transform: translate(20px, -20px);
  opacity: .6;
}
.social ul li:hover span:nth-child(2){
  transform: translate(10px, -10px);
  opacity: .4;
}
.social ul li:hover span:nth-child(1){
  transform: translate(0px, 0px);
  opacity: .2;
}
.social ul li:nth-child(1):hover span{
  background: #52E19F !important;
}
.social ul li:nth-child(2):hover span{
  background: #2C3456 !important;
}
.social ul li:nth-child(3):hover span{
  background: #EA6E96 !important;
}
.social ul li:nth-child(4):hover span{
  background: #FCEB00 !important;
}
.social {
    margin: auto;
    display: block;
}
/*=============================================

=======================================================*/

.main-background {
    background: #29606b;
}

.top-bx-start {
    min-height: 280px;
    background: #e84c3d;
}

.down-box {
    min-height: 280px;
    background: #9b58b5;
}

.down-box-start {
    min-height: 280px;
    background: #1bbc9b;
}

.top-box-end {
    min-height: 280px;
    background: #fdbd1f; 
}

.down-box-end {
    min-height: 280px;
    background: #9b58b5;
}

.row-start {
    position:relative;
    bottom: 65px;
}



.sms-c {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    top: 45px;
    left: 42%;
    position: absolute;
}

.line-hed-box {
    font-family: firstfont;
    color: white;
    text-align: center;
    padding-top: 140px;
}

@font-face{
    font-family:second-font;
    src:url(../fonts/SourceSansPro-Regular.otf);
}
.line-text {
    font-family:first-font;
    text-align: center;
    color: white;
    position: relative;
}
.line-text::after {
    content: "";
    width: 100px;
    height: 2px;
    position: absolute;
    background: white;
    top: 10px;
    left:65%;
}
.line-text::before{
    content: "";
    width: 100px;
    height: 2px;
    position: absolute;
    background: white;
    top: 10px;
    right:65%;
}

.back-cont {
    background: #29606b;
    min-height: 750px;
}

.line-tex {
    font-family:second-font;
    text-align: center;
    color: white;
}

.testomoni {
    background: #245963;
    min-height: 480px;
    margin-top: 70px;
    border-top: 4px solid red;
}



.testo-text {
    font-family: second-font;
    color: #5a929d;
    padding: 20px 20px;
    text-align: center;
}

.girl-first {
    margin: auto;
    display: block;
    margin-top: 30px;
    height: 50%;
    width: 50%;
}

.testomoni-middle {
    background: #245963;
    min-height: 480px;
    margin-top: 70px;
    border-top: 4px solid #fdbd1f;
}

.testomoni-end {
     background: #245963;
    min-height: 480px;
    margin-top: 70px;
    border-top: 4px solid #1bbc9b;
}
/*==============================
hover
======================================*/
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.feedback {
    text-align: center;
    margin-top: 100px;
}

.email-p {
    margin: auto;
    display: block;
}

.type-start {
    background: #245963;
    border:1px solid #306f7a;
    outline: none;
    width: 20%;
    margin-right: 2%;
}

.type-end {
    background: #245963;
    border:1px solid #306f7a;
    outline: none;
    width: 20%;
    margin-left: 2%;
}

.area-txt {
    background: #245963;
    border:1px solid #306f7a;
    outline: none;
    width: 44%;
    min-height: 80px;
    margin-bottom: 50px;
}

.line-hed {
    font-family: firstfont;
    color: white;
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
}

.submit {
    background: #245963;
    border: 1px solid #306f7a;
    outline: none;
    font-family:first-font;
    color: white;
    margin-bottom: 50px;
}

.footer {
    background: #245963;
    
}

.email-ad {
    color: white;
    font-size: 20px;
}

.contact-no {
    color: white;
    font-size: 20px;
}

.fb {
    background: white;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    padding: 15px;
    font-size: 30px;   
}

.tweet {
    background: white;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    padding: 13px;
    font-size: 30px;
}

.footer-txt {
    font-size: 20px;
    color: white;
    font-family: second-font;
}

.red-span {
    color: #fdbd1f;
}
